<main class="container">
  <div class="headings">
    <h1>Calculateur de zone d'entrainement</h1>
    <p>Calculez vos zones de frequences cardiaques avec la méthode de Karvonen</p>
  </div>

  <div class="grid">
    <div>
      <label for="fcmax">FC Max</label>
      <input type="number" placeholder="FC Repos" [(ngModel)]="fcmax" />
    </div>

    <div>
      <label for="fcmax">FC Rest</label>
      <input type="number" placeholder="FC Max" [(ngModel)]="fcrest" />
    </div>
  </div>

  <!-- <p>Zone 1: {{ 0.5 * (fcmax - fcrest) + fcrest }} - {{ 0.6 * (fcmax - fcrest) + fcrest }}</p>
  <p>Zone 2: {{ 0.6 * (fcmax - fcrest) + fcrest }} - {{ 0.7 * (fcmax - fcrest) + fcrest }}</p>
  <p>Zone 3: {{ 0.7 * (fcmax - fcrest) + fcrest }} - {{ 0.8 * (fcmax - fcrest) + fcrest }}</p>
  <p>Zone 4: {{ 0.8 * (fcmax - fcrest) + fcrest }} - {{ 0.9 * (fcmax - fcrest) + fcrest }} </p>
  <p>Zone 5: {{ 0.9 * (fcmax - fcrest) + fcrest }} - {{ fcmax }} </p> -->

  <table class="striped">
    <thead>
      <tr>
        <th>Zones</th>
        <th>Nom</th>
        <th>% FC Max</th>
        <th>BPM</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <th>Récupération</th>
        <th>50 à 60%</th>
        <th>
          {{ Math.round(0.5 * (fcmax - fcrest) + fcrest) }} -
          {{ Math.round(0.6 * (fcmax - fcrest) + fcrest) }}
        </th>
      </tr>
      <tr>
        <th>2</th>
        <th>Endurance</th>
        <th>60 à 70%</th>
        <th>
          {{ Math.round(0.6 * (fcmax - fcrest) + fcrest) }} -
          {{ Math.round(0.7 * (fcmax - fcrest) + fcrest) }}
        </th>
      </tr>
      <tr>
        <th>3</th>
        <th>Résistance douce</th>
        <th>70 à 80%</th>
        <th>
          {{ Math.round(0.7 * (fcmax - fcrest) + fcrest) }} -
          {{ Math.round(0.8 * (fcmax - fcrest) + fcrest) }}
        </th>
      </tr>
      <tr>
        <th>4</th>
        <th>Résistance dure</th>
        <th>80 à 90%</th>
        <th>
          {{ Math.round(0.8 * (fcmax - fcrest) + fcrest) }} -
          {{ Math.round(0.9 * (fcmax - fcrest) + fcrest) }}
        </th>
      </tr>
      <tr>
        <th>5</th>
        <th>Puissance</th>
        <th>90 à 100%</th>
        <th>{{ Math.round(0.9 * (fcmax - fcrest) + fcrest) }} - {{ fcmax }}</th>
      </tr>
    </tbody>
  </table>
</main>

<footer>Made with ❤️ by <a href="https://github.com/doliG">doliG</a>.</footer>
